body {
  font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
  background-color: red;
  color: white;
  padding: 2px 8px;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}

label {
  padding: 6px 8px;
}